In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("../raw/heart_dataset.csv")
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1015,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0
1016,65,1,3,138,282,1,0,174,0,1.4,1,1,2,0
1017,53,1,0,123,282,0,1,95,1,2.0,1,2,3,0
1018,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0
1019,47,1,0,112,204,0,1,143,0,0.1,2,0,2,1
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [3]:
print(f"Number of Columns\t:{len(df.columns)}")
print(f"Number of Rows\t\t:{len(df)}")

Number of Columns	:14
Number of Rows		:1025

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [5]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

##### **DISCREPANCY FOUND: Feature Encoding**

The paper's Table 1 shows categories labeled 1-4 for `cp` and 1-3 for `slope`, but the actual dataset uses 0-based indexing (0-3 and 0-2 respectively). 

This is a **missing detail** in the paper - they didn't document that the data was recoded or how the original encoding worked.

**Impact:** This doesn't affect the analysis but highlights lack of transparency about data preprocessing.

In [11]:
# Create Table 1 reproduction
def create_table1(df):
    """Recreating Table 1 from the paper with exact categories"""

    table1_results = []  # dictionary for results
    
    # 1. AGE - Categorize into 4 ('24-39', '40-54', '55-69', '70-85')
    age_bins = [23, 40, 55, 70, 86]
    age_labels = ['24-39', '40-54', '55-69', '70-85']
    df['age_cat'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, include_lowest=True)
    
    age_counts = pd.crosstab(df['age_cat'], df['target'], margins=True)
    for idx in age_labels:
        table1_results.append({
            'Feature': 'Age',
            'Category': idx,
            'No Heart Disease': age_counts.loc[idx, 0],
            'Heart Disease': age_counts.loc[idx, 1],
            'Total': age_counts.loc[idx, 'All']
        })
    
    # 2. SEX (0=Female, 1=Male)
    sex_counts = pd.crosstab(df['sex'], df['target'], margins=True)
    table1_results.append({
        'Feature': 'Sex',
        'Category': 'Male',
        'No Heart Disease': sex_counts.loc[1, 0],
        'Heart Disease': sex_counts.loc[1, 1],
        'Total': sex_counts.loc[1, 'All']
    })
    table1_results.append({
        'Feature': 'Sex',
        'Category': 'Female',
        'No Heart Disease': sex_counts.loc[0, 0],
        'Heart Disease': sex_counts.loc[0, 1],
        'Total': sex_counts.loc[0, 'All']
    })
    
    # 3. CP - Chest Pain (1-4)
    cp_labels = {0: '1 = Typical angina', 1: '2 = Atypical angina', 
                 2: '3 = Non-anginal pain', 3: '4 = Asymptomatic'}
    cp_counts = pd.crosstab(df['cp'], df['target'], margins=True)
    for cp_val in [0, 1, 2, 3]:
        table1_results.append({
            'Feature': 'cp',
            'Category': cp_labels[cp_val],
            'No Heart Disease': cp_counts.loc[cp_val, 0],
            'Heart Disease': cp_counts.loc[cp_val, 1],
            'Total': cp_counts.loc[cp_val, 'All']
        })
    
    # 4. TRESTBPS - Resting Blood Pressure
    trestbps_bins = [89, 120, 150, 180, 211]
    trestbps_labels = ['90-119', '120-149', '150-179', '180-210']
    df['trestbps_cat'] = pd.cut(df['trestbps'], bins=trestbps_bins, labels=trestbps_labels, include_lowest=True)
    
    trestbps_counts = pd.crosstab(df['trestbps_cat'], df['target'], margins=True)
    for idx in trestbps_labels:
        table1_results.append({
            'Feature': 'Trestbps',
            'Category': idx,
            'No Heart Disease': trestbps_counts.loc[idx, 0],
            'Heart Disease': trestbps_counts.loc[idx, 1],
            'Total': trestbps_counts.loc[idx, 'All']
        })
    
    # 5. CHOL - Cholesterol
    chol_bins = [119, 231, 342, 454, 565]
    chol_labels = ['120-230', '231-341', '342-453', '454-564']
    df['chol_cat'] = pd.cut(df['chol'], bins=chol_bins, labels=chol_labels, include_lowest=True)
    
    chol_counts = pd.crosstab(df['chol_cat'], df['target'], margins=True)
    for idx in chol_labels:
        table1_results.append({
            'Feature': 'chol',
            'Category': idx,
            'No Heart Disease': chol_counts.loc[idx, 0],
            'Heart Disease': chol_counts.loc[idx, 1],
            'Total': chol_counts.loc[idx, 'All']
        })
    
    # 6. FBS - Fasting Blood Sugar
    fbs_counts = pd.crosstab(df['fbs'], df['target'], margins=True)
    table1_results.append({
        'Feature': 'fbs',
        'Category': '<120mg/dl',
        'No Heart Disease': fbs_counts.loc[0, 0],
        'Heart Disease': fbs_counts.loc[0, 1],
        'Total': fbs_counts.loc[0, 'All']
    })
    table1_results.append({
        'Feature': 'fbs',
        'Category': '>120mg/dl',
        'No Heart Disease': fbs_counts.loc[1, 0],
        'Heart Disease': fbs_counts.loc[1, 1],
        'Total': fbs_counts.loc[1, 'All']
    })
    
    # 7. RESTECG - Electrocardiographic results
    restecg_labels = {0: '0=Normal', 1: '1 = ST-T wave abnormality', 2: '2 = LV hypertrophy'}
    restecg_counts = pd.crosstab(df['restecg'], df['target'], margins=True)
    for val in [0, 1, 2]:
        table1_results.append({
            'Feature': 'Restecg',
            'Category': restecg_labels[val],
            'No Heart Disease': restecg_counts.loc[val, 0],
            'Heart Disease': restecg_counts.loc[val, 1],
            'Total': restecg_counts.loc[val, 'All']
        })
    
    # 8. THALACH - Maximum Heart Rate
    thalach_bins = [69, 105, 140, 175, 210]
    thalach_labels = ['70-104', '105-139', '140-174', '175-209']
    df['thalach_cat'] = pd.cut(df['thalach'], bins=thalach_bins, labels=thalach_labels, include_lowest=True)
    
    thalach_counts = pd.crosstab(df['thalach_cat'], df['target'], margins=True)
    for idx in thalach_labels:
        table1_results.append({
            'Feature': 'Thalach',
            'Category': idx,
            'No Heart Disease': thalach_counts.loc[idx, 0],
            'Heart Disease': thalach_counts.loc[idx, 1],
            'Total': thalach_counts.loc[idx, 'All']
        })
    
    # 9. EXANG - Exercise induced angina
    exang_counts = pd.crosstab(df['exang'], df['target'], margins=True)
    table1_results.append({
        'Feature': 'Exang',
        'Category': 'No',
        'No Heart Disease': exang_counts.loc[0, 0],
        'Heart Disease': exang_counts.loc[0, 1],
        'Total': exang_counts.loc[0, 'All']
    })
    table1_results.append({
        'Feature': 'Exang',
        'Category': 'Yes',
        'No Heart Disease': exang_counts.loc[1, 0],
        'Heart Disease': exang_counts.loc[1, 1],
        'Total': exang_counts.loc[1, 'All']
    })
    
    # 10. OLDPEAK - ST depression
    oldpeak_bins = [-0.1, 1.55, 3.01, 4.65, 6.3]
    oldpeak_labels = ['0-1.54', '1.55-3.00', '3.01-4.64', '4.65-6.2']
    df['oldpeak_cat'] = pd.cut(df['oldpeak'], bins=oldpeak_bins, labels=oldpeak_labels, include_lowest=True)
    
    oldpeak_counts = pd.crosstab(df['oldpeak_cat'], df['target'], margins=True)
    for idx in oldpeak_labels:
        table1_results.append({
            'Feature': 'Oldpeak',
            'Category': idx,
            'No Heart Disease': oldpeak_counts.loc[idx, 0],
            'Heart Disease': oldpeak_counts.loc[idx, 1],
            'Total': oldpeak_counts.loc[idx, 'All']
        })
    
    # 11. SLOPE - Slope of peak exercise ST segment
    slope_labels = {0: '1 = Up sloping', 1: '2 = Flat', 2: '3 = Down sloping'}
    slope_counts = pd.crosstab(df['slope'], df['target'], margins=True)
    for val in [0, 1, 2]:
        table1_results.append({
            'Feature': 'Slope',
            'Category': slope_labels[val],
            'No Heart Disease': slope_counts.loc[val, 0],
            'Heart Disease': slope_counts.loc[val, 1],
            'Total': slope_counts.loc[val, 'All']
        })
    
    # 12. CA - Number of major blood vessels
    ca_counts = pd.crosstab(df['ca'], df['target'], margins=True)
    for val in [0, 1, 2, 3, 4]:
        table1_results.append({
            'Feature': 'ca',
            'Category': str(val),
            'No Heart Disease': ca_counts.loc[val, 0] if val in ca_counts.index else 0,
            'Heart Disease': ca_counts.loc[val, 1] if val in ca_counts.index else 0,
            'Total': ca_counts.loc[val, 'All'] if val in ca_counts.index else 0
        })
    
    # 13. THAL - Thalassemia
    thal_labels = {0: '0', 1: 'Normal', 2: 'Fixed defect', 3: 'Reversible'}
    thal_counts = pd.crosstab(df['thal'], df['target'], margins=True)
    for val in [0, 1, 2, 3]:
        table1_results.append({
            'Feature': 'Thal',
            'Category': thal_labels[val],
            'No Heart Disease': thal_counts.loc[val, 0] if val in thal_counts.index else 0,
            'Heart Disease': thal_counts.loc[val, 1] if val in thal_counts.index else 0,
            'Total': thal_counts.loc[val, 'All'] if val in thal_counts.index else 0
        })
    
    return pd.DataFrame(table1_results)

In [12]:
# Create the table
table1_reproduced = create_table1(df)

# show the table
print("\n=== REPRODUCED TABLE 1 ===")
print(table1_reproduced.to_string(index=False))

# Save to CSV for comparison
table1_reproduced.to_csv('../contents/tables/table1_reproduced.csv', index=False)

=== REPRODUCED TABLE 1 ===
 Feature                  Category  No Heart Disease  Heart Disease  Total
     Age                     24-39                23             45     68
     Age                     40-54               155            283    438
     Age                     55-69               318            181    499
     Age                     70-85                 3             17     20
     Sex                      Male               413            300    713
     Sex                    Female                86            226    312
      cp        1 = Typical angina               375            122    497
      cp       2 = Atypical angina                33            134    167
      cp      3 = Non-anginal pain                65            219    284
      cp          4 = Asymptomatic                26             51     77
Trestbps                    90-119               138            191    329
Trestbps                   120-149               287            294    581
Trestbps                   150-179                67             41    108
Trestbps                   180-210                 7              0      7
    chol                   120-230               189            247    436
    chol                   231-341               299            264    563
    chol                   342-453                11             12     23
    chol                   454-564                 0              3      3
     fbs                 <120mg/dl               417            455    872
     fbs                 >120mg/dl                82             71    153
 Restecg                  0=Normal               283            214    497
 Restecg 1 = ST-T wave abnormality               204            309    513
 Restecg        2 = LV hypertrophy                12              3     15
 Thalach                    70-104                40              6     46
 Thalach                   105-139               197             77    274
 Thalach                   140-174               248            357    605
 Thalach                   175-209                14             86    100
   Exang                        No               225            455    680
   Exang                       Yes               274             71    345
 Oldpeak                    0-1.54               265            461    726
 Oldpeak                 1.55-3.00               167             59    226
 Oldpeak                 3.01-4.64                60              6     66
 Oldpeak                  4.65-6.2                 7              0      7
   Slope            1 = Up sloping                46             28     74
   Slope                  2 = Flat               324            158    482
   Slope          3 = Down sloping               129            340    469
      ca                         0               163            415    578
      ca                         1               160             66    226
      ca                         2               113             21    134
      ca                         3                60              9     69
      ca                         4                 3             15     18
    Thal                         0                 4              3      7
    Thal                    Normal                43             21     64
    Thal              Fixed defect               132            412    544
    Thal                Reversible               320             90    410

## Summary of Table 01
Successfully reproduced Table 1 structure with all 13 clinical features and their categorical breakdowns. **Total counts match the paper** (N=1,025; 499 no disease, 526 disease), but **individual category distributions differ significantly**.

##### Possible Explanations
1. **Different dataset versions**: The paper uses data from 1988, but multiple versions exist on UCI/Kaggle with different preprocessing
2. **Undocumented data cleaning**: Paper may have removed/modified records without documentation
3. **Binning differences**: Category boundaries may have been applied differently (inclusive vs exclusive)
4. **Sex encoding reversed**: Male/Female counts are exactly swapped, suggesting opposite encoding (0=Male vs 1=Male)
5. **Missing preprocessing details**: Paper doesn't specify handling of outliers, missing values, or data transformation